body {
    background-image: url("/static/images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

container {
    padding-left: 0;
}

h1, h2 {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0px;
    text-align: left;    
}

a {
    padding-top: 30px;
    padding-left: 80px;
}

.task {
    margin-left: 50px;
}

.family_form {
    padding-left: 100px;
    
}