body {
    background-image: url("/static/images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*.index_body {*/
/*    background-image: url("/static/images/peppa.jpg");*/
/*    background-size: cover;*/
    
/*    background-repeat: no-repeat;*/
/*}*/

.logbtn {
    padding-top: 40px;
}



h1, h2, h3, h4{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0px;
    text-align: left;    
}

a {
    padding-top: 30px;
    padding-left: 80px;
}

.task {
    margin-left: 50px;
}

.family_form {
    padding-left: 150px;
    
}

.btn_small {
    height: 36px;
    width: 80px;
    line-height: 24px;
    margin: 5px 5px;
    /*padding: 0 0.5em;*/
}

.btn_large {
    background-color: red;
    height: 36px;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

.form_input {
    padding-left: 130px;
}

.task_header {
    margin-top: 5px;
}


