<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    
    <link rel="stylesheet" href="./static/style.css" type="text/css" />

</head>
<body>
    <div class="col-sm-5 logbtn" >
        <a href="/" class="btn btn_large">LOG OUT</a></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> Welcome {{username}}, LET'S PLAN!!!</h1>
                <h2>Montly Planner</h2>
            </div>
        </div>
    </div>    
    <h3>Add a member</h3>
    <div class="form_input">
    <form action="/{{username}}/add_member" method="POST">
        <input type="text" name="member"/>
        <input type="submit" value="Submit"/>
    </form>
    </div>
    <h3>Members of your family</h3>
   
    <div class="container">
        <div class="row">
        {% if members %}
            {% for member in members %}
            <p></p>
            
            <div class="col-sm-4">
    
            <table style="width:100%">
              <tr>
                <th rowspan="3"><img src="/static/images/daddypig.png" alt="daddy pig" width="200" height="250"></th>
                <td>{{member.name}}</td>
              </tr>
              <tr>
                  <td>Go to your list</td>
              </tr>
              <tr>
                  <td>
                    <a href="{{username}}/{{ member.name }}" class="glyphicon glyphicon-arrow-right">{{ member.name }} task-list</a> 
                  </td>
              </tr>
             
            </table>
            </div>
            {% endfor %}
                {% else %}
                <h1> You need to add a family member</h1>
            {% endif %}
            
        </div>
    </div>  
        
  
</body>
</html>